@font-face {
    font-family: mifuenteMia;
    src: url(../fuentes/CormorantGaramond-BoldItalic.ttf);
}

/* Recuerda hacer la lista de variables para los colores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
}

:root {
    --verdePastel: #d5e4cf;
    --verdeGrisaseo: #9ba79c;
    --verdeGrisOscuro: #afc2ae;
    --verdegris: #d5e4cf;
    --crema: #fcf7ec;
    --verdeMilitar: #273526;
    --grisAzulado: #45627e;
    --verdeMilitar: #6d8777;
    --verdeClaro : #c0cfb2;
    --verdeGris2: #e4e6d9;
    --verdeClaro1: #b7f7c7;
    --verdeclaro2: #9fdeaf;
    --verdeClaro3: #87c598;
    --verdeOscuro1: #6fac80;
    --verdeOscuro2: #579368;
    /* Colores que estaran en la lista de tal vez */
    --quizas1: #3e7e55;
    --quizas2: #7abd87;
    --quizas3: #cadec8;
    --quizas4: #eaeee5;
}

body {
    background-color: #E1EFD8;
}

/* header */

.logo__Empresa {
    margin-left: 40px;
    margin-top: 20px;
}

nav {
    margin: auto;
    background: #e1efd8;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu__horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu__horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.menu__horizontal > li:hover {
    background-color: #fff;
}

.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #e1efd8d5;
}

.menu__horizontal li:hover .menu__vertical {
    display: block;
}

.menu__vertical li:hover {
    background-color: #cedfc3;
}

.menu__vertical li a {
    display: block;
    color: black;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

/* Main */

#contenedor {
    background: #fff;
    width: 80%;
}

/* footer */
footer {
    margin: auto;
    padding: 20px;
}

.texto__footer {
    text-align: center;
    color: black;
}

/* Responsive */

@media screen and(min-width:1024px) {
    
}

@media screen and(min-width: 768px) and(max-width: 1023px) {
    
}

@media screen and(max-width:767px) {
    
}